@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@600;700&display=swap");
@import url("./_reset.css");
@import url("./_a11y.css");
@import url("./_typography.css");
@import url("./_utilities.css");
@import url("./_media.css");
@import url("./_colors.css");

:root {
  /* font-family */
  --ff-heading: "Quicksand", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* colors */
  --primary: #fb7185;
  --primary-light: #ffe4e6;
  --heading-dark: #292524;
  --text-dark: #44403c;
  --light: #fffafa;
  --link: #9f1239;

  /* font-sizes */
  --h1: 3rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --body-lg: 1.125rem;
  --body: 1rem;
  --nav: 1.125rem;
}

@media (--md) {
  :root {
    /* font-sizes */
    --h1: 4.5rem;
    --h2: 2.25rem;
    --h3: 1.5rem;
  }
}
/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--text-dark);
  line-height: 1.5;
  background-color: var(--light);
  overflow-x: hidden;
  /* min-height: 100vh;
	  overflow-x: hidden;
	  display: grid;
	  grid-template-rows: min-content 1fr; */
}
