---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Hero_footer from "../components/Hero_footer.astro";

let title = "Astro Portfolio W52s #4";
let description = "Astro Portfolio W52s #4";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="index" {canonicalURL}>
  <main id="main-content" aria-label="main">
    <Hero />
    <Hero_footer />
  </main>
</Layout>
