---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Hero_footer from "../components/Hero_footer.astro";
import Features from "../components/Features.astro";
import Gallery from "../components/Gallery.astro";
import Pricing from "../components/Pricing.astro";
import Blog from "../components/Blog.astro";
import Contact from "../components/Contact.astro";

let title = "Astro Portfolio W52s #4";
let description = "Astro Portfolio W52s #4";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="index" {canonicalURL}>
  <main id="main-content" aria-label="main">
    <Hero />
    <Hero_footer />
    <Features />
    <Gallery />
    <Pricing />
    <Blog />
    <Contact />
  </main>
</Layout>
