<section id="hero_footer" class="container" aria-label="hero_footer">
  <div class="hero_footer--box">
    <h2 class="h2 heading-dark">Visit Us</h2>
    <p>Musterstraße 1</p>
    <p>12345 Musterstadt</p>
    <p>+123456789</p>
    <p>fitness@fitness.com</p>
  </div>
  <div class="hero_footer--box">
    <h2 class="h2 heading-dark">Working hours</h2>
    <div class="zeiten">
      <p>Mon - Sun</p>
      <p>06:00 - 24:00</p>
    </div>
  </div>
  <div class="hero_footer--box">
    <h2 class="h2 heading-dark">Corona</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    <a href="/corona">current informations</a>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      width: 250px;
    }
  }
</style>
