<section id="hero_footer" class="container" aria-label="hero_footer">
  <div class="hero_footer--box">
    <h2>Visit Us</h2>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
  </div>
  <div class="hero_footer--box">
    <h2>Working hours</h2>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
  </div>
  <div class="hero_footer--box">
    <h2>Corona</h2>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
    <p>Blub</p><p></p>
  </div>
</section>
